---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutImg from "../assets/about-astro.png";

const meta = {
	title: "About",
	description: "A Blog About a Less Than Mediocre Developer",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>Hi, Ser Him Burners-Lee here.</p>
		<p>
			Obviously, that's a pseudonym. I'm not a white, British computer
			scientist. I have not been knighted. I did not create the World Wide Web.
			Hell, I didn't even create the <a
				href="https://twitter.com/search?q=%23BlackTechTwitter"
				target="_blank"
				rel="noopener noreferrer"
				class="inline-block cactus-link">#BlackTechTwitter hashtag</a
			>.
		</p>
		<p>
			Nope, I'm just a Less Than Mediocre Software Developer that's trying to
			get better at this whole software developer thing. I'm a black girldad in
			the Western US, who's bounced around different roles for about a decade
			now. I work primarily with JavaScript and a few other languages, and right
			now I'm interested in learning more about Python and Rust. I
			affectionately refer to this stack (JavaScript/TypeScript, Python, Rust)
			as Mantis Shrimp Development™.
		</p>
		<p>Anyway, gonna try to keep Learning in Public through this blog!</p>
	</div>
</PageLayout>
